<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" data-no-mirror>
        <link href="/assets/css/styles.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.umd.js"></script>
        
		@RenderSection(SectionNames.Head, false)

        @{
            string title = @Document.ContainsKey(Keys.Title) ? $"COVIDSafe.watch - {Document.GetString(Keys.Title)}" : "COVIDSafe.watch";
        }
        <title>@title</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7V3FP8QKER"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7V3FP8QKER');
        </script>

    </head>
    <body>
        <div class="flex-grow-1 d-flex flex-column">
            <div class="bg-nav">
                <div class="container-xl py-3">
                    <div class="row">
                        <div class="offset-lg-2 col-12 col-lg-8 px-0">
                            <nav class="navbar navbar-expand-md navbar-light align-items-start">
                                <a class="navbar-brand" href="/">COVIDSafe.watch</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-topnav" aria-controls="collapse-topnav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div id="collapse-topnav" class="collapse navbar-collapse flex-wrap">
                                    <ul class="navbar-nav mr-auto">
                                        <li id="nav-web" class="nav-item">
                                            <a class="nav-link text-blue font-weight-light font-size-lg" href="/issue-register">Issue Register</a>
                                        </li>
                                        <li id="nav-web" class="nav-item">
                                            <a class="nav-link text-blue font-weight-light font-size-lg" href="/senate-submissions">Senate Submissions</a>
                                        </li>
                                        @* <li id="nav-web" class="nav-item">
                                            <a class="nav-link text-blue font-weight-light font-size-lg" href="/blog">Blog</a>
                                        </li> *@
                                        <li id="nav-web" class="nav-item">
                                            <a class="nav-link text-blue font-weight-light font-size-lg" href="/about">About</a>
                                        </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://discord.gg/4xr7AW5"><i class="fab fa-discord"></i>Discuss</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://twitter.com/covidsafewatch"><i class="fab fa-twitter"></i>Twitter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://www.facebook.com/covidsafewatch"><i class="fab fa-facebook"></i>Facebook</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://github.com/covidsafewatch"><i class="fab fa-github"></i> GitHub</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            @if (IsSectionDefined(SectionNames.Splash))
            {
                @RenderSection(SectionNames.Splash, false)
            }
            <div id="titlebar" class="py-4">
                <div class="container-xl">
                    <div class="row">
                        @{ 
                            string titleBarClasses = Document.GetBool(SiteKeys.NoSidebar) ? string.Empty : "offset-md-3 offset-lg-2";
                        }
                        <div class="@titleBarClasses offset-lg-2 col-12 col-lg-8 px-3 px-lg-0 w-100 d-flex align-items-end">
                            <div class="flex-grow-1">
                                <div class="breadcrumbs text-uppercase d-flex flex-column-reverse flex-md-row-reverse justify-content-md-end">
                                    @{
                                        IDocument parent = Document.GetParent(Inputs) ?? Document;
                                        while (parent != null)
                                        {
                                            <span>@Html.DocumentLink(parent, parent.GetString(SiteKeys.BreadcrumbTitle, parent.GetTitle()))</span>
                                            parent = parent.GetParent(Inputs);
                                        }
                                    }
                                </div>
                                <div class="text-white m-0 title">@(Document.GetString(Keys.Title) ?? Document.GetTitle())</div>
                                @if (IsSectionDefined(SectionNames.Subtitle))
                                {
                                    @RenderSection(SectionNames.Subtitle, false)
                                }
                            </div>
                            @if (!Document.GetBool(SiteKeys.NoSidebar))
                            {
                                <div class="navbar navbar-expand-md navbar-dark p-0">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-sidebar" aria-controls="collapse-sidebar" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 d-flex flex-column">                
                <div class="flex-grow-1 d-flex flex-column">
                    @if (Document.GetBool(SiteKeys.NoContainer))
                    {
                        <div id="content" class="bg-white">
                            @RenderBody()
                        </div>
                    }
                    else
                    {
                        <div class="container-xl flex-grow-1 d-flex flex-column">
                            <div class="row flex-grow-1 align-items-stretch">
                                @{
                                    if (Document.GetBool(SiteKeys.NoSidebar))
                                    {
                                        if (IsSectionDefined(SectionNames.Sidebar))
                                        {
                                            IgnoreSection(SectionNames.Sidebar);
                                        }

                                        <div id="content" class="offset-lg-2 col-12 col-lg-8 p-4 pt-md-0 bg-white">
                                            @RenderBody()
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3 col-lg-2 bg-body">
                                            <div id="collapse-sidebar" class="sidebar collapse px-0 px-md-3 pt-3">
                                                @if (IsSectionDefined(SectionNames.Sidebar))
                                                {
                                                    @RenderSection(SectionNames.Sidebar, false)
                                                }
                                            </div>
                                        </div>
                                        <div id="content" class="col-md-9 col-lg-8 p-4 pt-md-0 bg-white">
                                            @RenderBody()
                                        </div>
                                    }
                                }
                                <div class="col-lg-2 d-none d-lg-block bg-body pl-3 pt-3">
                                    @{
                                        IReadOnlyList<IDocument> headings = Document.GetDocumentList(Statiq.Html.HtmlKeys.Headings);
                                        if (headings.Count > 0)
                                        {
                                            <div class="border-bottom mb-3">
                                                <p class="small font-weight-bold">On This Page</p>
                                                @foreach (IDocument heading in headings)
                                                {
                                                    <p class="small"><a href="#@(heading.GetString(Statiq.Html.HtmlKeys.HeadingId))">@(await heading.GetContentStringAsync())</a></p>
                                                }
                                            </div>
                                        }
                                    }
                                    @if (Document.ContainsKey("EditLink"))
                                    {
                                        <p class="small font-weight-bold"><a href="@Document.GetString("EditLink")"><i class="fad fa-pencil"></i> Edit This Page</a></p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="footer" class="p-3 text-white">
            <div class="container-xl">
                We want your involvement and contributions. Join the <a href="https://discord.gg/4xr7AW5">discord community</a>, introduce yourself and ask how you can help!
            </div>
        </div>
        
        <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101257061);</script>
        <script async src="//static.getclicky.com/js"></script>
        <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101257061ns.gif" /></p></noscript>

		@RenderSection(SectionNames.Scripts, false)
    </body>
</html>