@{
    Layout = @"/_layout.cshtml";
}

<div class="pb-3 mb-3 border-bottom">
    <p>If you spot a spelling mistake, grammatical error or inaccuracy please help improve the senate submission by <a href="@Document.GetString("EditLink")"><i class="fad fa-pencil"></i> editing this page</a>. Small fixes, over time, add up to huge improvements. Thank-you 💕</p>

<hr/>

    <div><strong>Submission Name: </strong> @Document.GetString(Keys.Title)</div>
    <div><strong>Url: </strong> <a href="@Document.GetLink()">https://covidsafe.watch/@Document.GetLink()</a>
    <div><strong>Status: </strong> @Document.GetString("Status")</div>
    <div><strong>Version: </strong> @Context.GetString("GITHUB_SHA", "Error GITHUB_SHA env is not set") on <a href="https://github.com/covidsafewatch/website">https://github.com/covidsafewatch/website</a></div>
</div>



<hr/>
<h2>Select Committee on COVID-19</h2>

<p><strong>Terms of Reference</strong></p>

<p>On 8 April 2020 the Senate established the Select Committee on COVID-19 and referred the following matters to it for inquiry and report on or before 30 June 2022:</p>
<ul>
<li>the Australian Government's response to the COVID-19 pandemic; and</li>
<li>any related matters.</li>
</ul>

<h1>Introduction</h1>

<p>To members of the Senate Select Committee on COVID-19. Thank you for the opportunity to participate in this Senate inquiry. Below you will find a submission related to the COVIDSafe application. We are doing seperate submissions on a per-topic basis.</p>

<p>Members from the <a href="https://covidsafe.watch/">https://covidsafe.watch/</a> community are available to give in-person evidence to future public (or private) hearings by video conference.</p>

<p>We would appreciate a confirmation of the receipt of this submission and welcomes any feedback you may have.</p>

<p><a href="https://covidsafe.watch/">https://covidsafe.watch/</a> is an online community backed by a team of security researchers, open-source software engineers, community managers and privacy specialists that support the concept of technology based contact tracing.</p>

<ul>
<li>We want to see lives saved through the use of this unprecedented technology.</li>
<li>It is crucial to us that privacy and security issues are addressed promptly and communicated in an inclusive and open manner.</li>
<li>We believe transparency is essential to achieve both of these goals without compromising either. Compromising privacy risks people’s lives by undermining public trust in the systems built to protect them.</li>
<li>This can only be achieved by direct collaboration with engineers using transparent open source platforms as done by the UK National Health Service.</li>
</ul>

<?# Twitter 1258453749691027465 /?>

<h1>Experts available for in-person evidence</h1>

<h2 id="geoffrey-huntley">Geoffrey Huntley</h2>
<img src="/about/geoffreyhuntley.jpg" class="contributor-photo">
<p>🙌 I'm Geoff, the probono open-source software engineer leading the independent analysis of <a href="https://covidsafe.gov.au/">covidsafe</a> via studying the source code. Software that I maintain is inside Microsoft Visual Studio, GitHub, Atlassian Sourcetree, Amazon Drive, Halo, Slack, is heavily used by the financial services industry and has been installed by other software developers over 21 million times.</p>
<p>Photo licensed under Attribution 4.0 International (CC BY 4.0)</p>

<h2 id="jim-mussared">Jim Mussared</h2>
<img src="/about/jimmussared.jpg" class="contributor-photo">
<p>I'm a hybrid hardware and software developer, with current professional experience with open-source development and designing/developing BLE-based products for <a href="https://georgerobotics.com/">George Robotics</a>. Formerly worked in programming/electronics education at Grok Learning, and before that at Google Australia as a tech lead in the SRE team as well as some time working with the Android team.</p>
<p>My <a href="https://docs.google.com/document/d/1u5a5ersKBH6eG362atALrzuXo3zuZ70qrGomWVEC27U/preview">Bluetooth research</a> into contact tracing has received world wide praise. I discovered a <a href="https://github.com/alwentiu/COVIDSafe-CVE-2020-12856">Bluetooth security vulrunability</a> (CVE-2020-12856) which requires governments to modify their technological approaches and programs of work.</p>
<p>Photo licensed under Attribution 4.0 International (CC BY 4.0)</p>

<h2 id="richard-nelson">Richard Nelson</h2>
<img src="/about/richardnelson.jpg" class="contributor-photo">
<p>I'm a professional software engineer of 16 years, 8 of which have been in mobile app development and leadership. I have a strong interest in infosec, and my <a href="https://docs.google.com/document/d/1sviVey1jCk97BACwkAJMctG8rFlC7Mf8pMpluW6VOQw/preview">research into the iPhone application background behaviour</a> identified a coding error as a contributing factor preventing COVIDSafe from working effectively. I discovered a <a href="/issue-register/cve-2020-12717-ios-bluetooth-denial-of-service">denial of service vulnerability</a> (CVE-2020–12717) in COVIDSafe.</p>
<p>Photo licensed under Attribution 4.0 International (CC BY 4.0)</p>

<h1>Contact person(s) for this submission</h1>

@switch (Document.GetString(SiteKeys.IssueMaintainer)) {
    default:
    case "ghuntley":

        <h2>Technical Expert & Coordinator</h2>
        <p>
        Name: Geoffrey Huntley<br/>
        Email: <a href="mailto:ghuntley@ghuntley.com">ghuntley@ghuntley.com</a><br/>
        LinkedIn: <a href="https://www.linkedin.com/in/geoffreyhuntley">https://www.linkedin.com/in/geoffreyhuntley</a>
        </p>

    break;

    case "jimmo":
        <h2>Technical Expert</h2>
        <p>
        Name: Jim Mussared<br/>
        Email: <a href="mailto:jim.mussared@gmail.com">jim.mussared@gmail.com</a><br/>
        LinkedIn: <a href="https://www.linkedin.com/in/jim-mussared">https://www.linkedin.com/in/jim-mussared</a>
        </p>

        <h2>Coordinator</h2>
        <p>
        Name: Geoffrey Huntley<br/>
        Email: <a href="mailto:ghuntley@ghuntley.com">ghuntley@ghuntley.com</a><br/>
        LinkedIn: <a href="https://www.linkedin.com/in/geoffreyhuntley">https://www.linkedin.com/in/geoffreyhuntley</a>
        </p>
    break;

    case "wabz":
        <h2>Technical Expert</h2>
        <p>
        Name: Richard Nelson<br/>
        Email: <a href="mailto:richard@richardnelson.it">richard@richardnelson.it</a><br/>
        LinkedIn: <a href="https://www.linkedin.com/in/richard-nelson-8300444">https://www.linkedin.com/in/richard-nelson-8300444</a>
        </p>

        <h2>Coordinator</h2>
        <p>
        Name: Geoffrey Huntley<br/>
        Email: <a href="mailto:ghuntley@ghuntley.com">ghuntley@ghuntley.com</a><br/>
        LinkedIn: <a href="https://www.linkedin.com/in/geoffreyhuntley">https://www.linkedin.com/in/geoffreyhuntley</a>
        </p>
    break;

}

@RenderBody()


<h1>Appendix - Google Android Release History</h1>

@Html.Partial("/senate-submissions/_google-release-history.cshtml")

<h1>Appendix - Apple iPhone Release History</h1>

@Html.Partial("/senate-submissions/_apple-release-history.cshtml")
